<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<style>
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: black;
    color: #fff;
    text-align: center;
  }
</style>

<body>
  <h1>URL Shortener</h1>
  <div>
    <form method="post" action="/url">
      <label for="redirectURL">Enter your Original URL</label>
      <input type="text" name="url" placeholder="https://example.com">
      <button type="submit">Generate</button>
    </form>
    <% if (locals.id) { %>
      <p>URL generated: <a href="http://localhost:8080/<%= locals.id %>">http://localhost:8080/<%= locals.id %></a></p>
      <% } %>
  </div>
</body>

</html>